################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MayaStreamer/v15
/MayaStreamer/.vs/MayaStreamer/v15/Browse.VC.opendb
/MayaStreamer/.vs/MayaStreamer/v15/Browse.VC.opendb
